<div id="main_wrapper">

  <!--  Hero section-->
  <div class="section_wrapper">
    <div class="hero_section">
      <div class="section_content">
        <div class="hero_section_wrap">
          <div class="hero_content" fxLayout="row" fxLayoutGap="100px" fxLayoutAlign="start center" fxLayout.xs="column" fxLayout.sm="column"
               fxFlexFill>
            <div fxFlex="">
              <h1>Get</h1>
              <h1>Everything</h1>
              <h1>Done</h1>
              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean
                massa. Cum sociis natoque penatibus et magnis dis parturient montes, </p>
              <br>
              <button class="start_working_btn" mat-raised-button>Start Working</button>
            </div>
            <div fxFlex="">
              <form class="subscribe_form">
                <div fxLayout="row" fxLayoutGap="30px" fxLayoutAlign="start center" fxLayout.xs="column" fxFlexFill>
                  <div fxFlex="">
                    <mat-form-field appearance="outline" class="form_field" style="width: 100%;">
                      <input matInput placeholder="First Name" type="text">
                    </mat-form-field>
                  </div>
                  <div fxFlex="">
                    <mat-form-field appearance="outline" class="form_field" style="width: 100%;">
                      <input matInput placeholder="Last Name" type="text">
                    </mat-form-field>
                  </div>
                </div>
                <div fxLayout="row" fxLayoutGap="30px" fxLayoutAlign="start center" fxLayout.xs="column" fxFlexFill>
                  <div fxFlex="">
                    <mat-form-field appearance="outline" class="form_field" style="width: 100%;">
                      <input matInput placeholder="Email" type="email">
                    </mat-form-field>
                  </div>
                  <div fxFlex="">
                    <mat-form-field appearance="outline" class="form_field" style="width: 100%;">
                      <input matInput placeholder="Password" type="password">
                    </mat-form-field>
                  </div>
                </div>
                <div fxLayout="row" fxLayoutGap="30px" fxLayoutAlign="start center" fxLayout.xs="column" fxFlexFill>
                  <div fxFlex="">
                    <mat-form-field appearance="outline" class="form_field" style="width: 100%;">
                      <mat-select placeholder="Select User Type">
                        <mat-option value="1">User type 1</mat-option>
                        <mat-option value="2">User type 2</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div fxFlex=""></div>
                </div>
                <button class="get_started_btn" mat-raised-button>Get Started!</button>
              </form>
            </div>
          </div>
        </div>


      </div>
    </div>

  </div>

  <!--  Popular Services section-->
  <div class="section_wrapper">
    <div class="section_content">
      <div class="services_section">
        <div class="services_section_title">
          <h1>Popular Services</h1>
        </div>
        <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="start center" fxLayout.xs="column" fxLayout.sm="column" fxFlexFill>
          <div fxFlex="25">
            <mat-card class="service_card">
              <img mat-card-image  src="../../assets/images/img4.jpg"
                   alt="Photo of a Shiba Inu">
              <mat-card-content>
                <div class="service_card_content">
                  <h2>Lorem Ipsum</h2>
                  <p>
                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                    A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                    bred for hunting.
                  </p>
                </div>

              </mat-card-content>
            </mat-card>
          </div>
          <div fxFlex="25">
            <mat-card class="service_card">
              <img mat-card-image  src="../../assets/images/img5.jpg"
                   alt="Photo of a Shiba Inu">
              <mat-card-content>
                <div class="service_card_content">
                  <h2>Lorem Ipsum</h2>
                  <p>
                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                    A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                    bred for hunting.
                  </p>
                </div>

              </mat-card-content>
            </mat-card>
          </div>
          <div fxFlex="25">
            <mat-card class="service_card">
              <img mat-card-image  src="../../assets/images/img6.jpg"
                   alt="Photo of a Shiba Inu">
              <mat-card-content>
                <div class="service_card_content">
                  <h2>Lorem Ipsum</h2>
                  <p>
                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                    A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                    bred for hunting.
                  </p>
                </div>

              </mat-card-content>
            </mat-card>
          </div>
          <div fxFlex="25">
            <mat-card class="service_card">
              <img mat-card-image  src="../../assets/images/img2.jpg"
                   alt="Photo of a Shiba Inu">
              <mat-card-content>
                <div class="service_card_content">
                  <h2>Lorem Ipsum</h2>
                  <p>
                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                    A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                    bred for hunting.
                  </p>
                </div>

              </mat-card-content>
            </mat-card>
          </div>
        </div>

        <div class="more_services_indicator">
          <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="start center" fxLayout.xm="column" fxFlexFill>
            <div fxFlex="25"></div>
            <div fxFlex="">
              <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="start center">
                <div fxFlex="" fxFill>
                  <div class="arrow_indicator"></div>
                </div>
              </div>
              <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="start center">
                <div fxFlex="" fxFill>
                  <div class="arrow_indicator"></div>
                </div>
              </div>
              <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="start center">
                <div fxFlex="">
                </div>
                <div fxFlex="">
                  <div class="more_services_section">
                    <button class="more_service_btn" mat-raised-button>More Services</button>
                  </div>
                </div>
                <div fxFlex="">
                </div>
              </div>
            </div>
            <div fxFlex="25"></div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <!--  Who Are WE? section-->
  <div class="section_wrapper">
    <div class="section_content">
      <div class="about_section">
        <div class="about_section_title">
          <h1>Who Are WE?</h1>
        </div>
        <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="start center" fxLayout.xs="column" fxLayout.sm="column">
          <div fxFlex="">
            <img class="about_img" src="../../assets/images/about.png">
          </div>
          <div fxFlex="">
            <div class="about_content">
              <p>Best Online Marketplace</p>
              <h3>About Quexl</h3>
              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</p>
              <div class="reason">
                <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="start start" fxLayout.xs="column" fxLayout.sm="column">
                  <div fxFlex="8">
                    <div class="reason_bullet"></div>
                  </div>
                  <div fxFlex="">
                    <div>
                      <h3>Reason 01</h3>
                      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                        Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus
                        mus. Donec quam felis, ultricies nec, pellentesque eu,</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="reason">
                <div fxLayout="row" fxLayoutGap="20px" fxLayout.xs="column" fxLayoutAlign="start start">
                  <div fxFlex="8">
                    <div class="reason_bullet"></div>
                  </div>
                  <div fxFlex="">
                    <div>
                      <h3>Reason 02</h3>
                      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                        Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus
                        mus. Donec quam felis, ultricies nec, pellentesque eu,</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="reason">
                <div fxLayout="row" fxLayoutGap="20px" fxLayout.xs="column" fxLayoutAlign="start start">
                  <div fxFlex="8">
                    <div class="reason_bullet"></div>
                  </div>
                  <div fxFlex="">
                    <div>
                      <h3>Reason 03</h3>
                      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                        Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus
                        mus. Donec quam felis, ultricies nec, pellentesque eu,</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>

      </div>
    </div>

    <!--  Testimonials section-->
    <div class="section_wrapper">
      <div class="testimonials">
        <div class="section_content">
          <div class="testimonials_section_desc">
            <h3>Testimonials</h3>
            <h2>What Our Clients Are Say</h2>
            <p>Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum
              Lorem Ipsum Lorem Ipsum</p>
          </div>

          <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="start start" fxLayout.xs="column" fxLayout.sm="column">
            <div fxFlex="50">
              <mat-card class="testimonial_card">
                <mat-card-content>
                  <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="start center" fxLayout.sm="column">
                    <div fxFlex="80">
                      <div class="testimonial_card_content">
                        <h2><span class="material-icons">pause</span></h2>
                        <p>
                          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                          A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                          bred for hunting.
                        </p>
                        <h2 class="client_name">- Client Name</h2>
                      </div>
                    </div>
                    <div fxFlex="">
                      <img class="testimonial_img"  src="../../assets/images/img5.jpg"
                           alt="Photo of a Shiba Inu">
                    </div>
                  </div>
                </mat-card-content>
              </mat-card>
            </div>

            <div fxFlex="50">
              <mat-card class="testimonial_card">
                <mat-card-content>
                  <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="start center" fxLayout.xs="column" fxLayout.sm="column">
                    <div fxFlex="80">
                      <div class="testimonial_card_content">
                        <h2><span class="material-icons">pause</span></h2>
                        <p>
                          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                          A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                          bred for hunting.
                        </p>
                        <h2 class="client_name">- Client Name</h2>
                      </div>
                    </div>
                    <div fxFlex="">
                      <img class="testimonial_img"  src="../../assets/images/img1.jpg"
                           alt="Photo of a Shiba Inu">
                    </div>
                  </div>
                </mat-card-content>
              </mat-card>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--  OUR LATEST NEWS Section-->
    <div class="section_wrapper">
      <div class="latest_news_section">
        <div class="section_content">
          <div>
            <h4>OUR LATEST NEWS</h4>
          </div>

          <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="start center" fxLayout.xs="column" fxLayout.xs="column">
            <div fxFlex="30">
              <h1>Read Our Latest</h1>
              <h1>Articles, Tips & News</h1>
            </div>
            <div fxFlex="">
              <p>Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum</p>
              <p>Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum</p>
            </div>
          </div>

          <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="start center" fxLayout.xs="column" fxLayout.sm="column">
            <div fxFlex="">
              <mat-card class="news_card">
                <img mat-card-image src="../../assets/images/img1.jpg"
                     alt="Photo of a Shiba Inu">
                <mat-card-content>
                  <h3>The Shiba Inu is the smallest</h3>
                  <p>
                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                    A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                    bred for hunting.
                  </p>
                </mat-card-content>
                <mat-card-actions>
                  <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="start center" fxLayout.xs="column" fxLayout.sm="column">
                    <div fxFlex="35">
                      <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="start center">
                        <div fxFlex="5">
                          <span class="material-icons">insert_invitation</span>
                        </div>
                        <div fxFlex="">
                          <span> December, 11, 2019</span>
                        </div>
                      </div>

                    </div>
                    <div fxFlex="">
                      <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="start center">
                        <div fxFlex="5">
                          <span class="material-icons">comment</span>
                        </div>
                        <div fxFlex="">
                          <span> 2 Comments</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </mat-card-actions>
              </mat-card>
            </div>
            <div fxFlex="">
              <mat-card class="news_card">
                <img mat-card-image src="../../assets/images/img5.jpg"
                     alt="Photo of a Shiba Inu">
                <mat-card-content>
                  <h3>The Shiba Inu is the smallest</h3>
                  <p>
                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                    A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                    bred for hunting.
                  </p>
                </mat-card-content>
                <mat-card-actions>
                  <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="start center" fxLayout.xs="column">
                    <div fxFlex="35">
                      <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="start center">
                        <div fxFlex="5">
                          <span class="material-icons">insert_invitation</span>
                        </div>
                        <div fxFlex="">
                          <span> December, 11, 2019</span>
                        </div>
                      </div>

                    </div>
                    <div fxFlex="">
                      <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="start center">
                        <div fxFlex="5">
                          <span class="material-icons">comment</span>
                        </div>
                        <div fxFlex="">
                          <span> 2 Comments</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </mat-card-actions>
              </mat-card>
            </div>
            <div fxFlex="">
              <mat-card class="news_card">
                <img mat-card-image src="../../assets/images/img3.jpg"
                     alt="Photo of a Shiba Inu">
                <mat-card-content>
                  <h3>The Shiba Inu is the smallest</h3>
                  <p>
                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                    A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                    bred for hunting.
                  </p>
                </mat-card-content>
                <mat-card-actions>
                  <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="start center" fxLayout.xs="column">
                    <div fxFlex="35">
                      <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="start center">
                        <div fxFlex="5">
                          <span class="material-icons">insert_invitation</span>
                        </div>
                        <div fxFlex="">
                          <span> December, 11, 2019</span>
                        </div>
                      </div>

                    </div>
                    <div fxFlex="">
                      <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="start center">
                        <div fxFlex="5">
                          <span class="material-icons">comment</span>
                        </div>
                        <div fxFlex="">
                          <span> 2 Comments</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </mat-card-actions>
              </mat-card>
            </div>
          </div>
        </div>
      </div>

    </div>

    <!--  Contact Us Section-->
    <div class="section_wrapper">
      <div class="contact_section">
        <div class="section_content">

          <div class="contact">
            <div class="contact_section_desc">
              <h2>Contact Us</h2>
              <h1>Join Quexl To Get Unlimited<br><br>
                Services</h1>
            </div>
            <mat-card class="contact_card">
              <mat-card-content>
                <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="start start" fxLayout.xs="column" fxLayout.sm="column">
                  <div fxFlex="">
                    <img mat-card-image src="../../assets/images/img3.jpg"
                         alt="Photo of a Shiba Inu">
                  </div>
                  <div fxFlex="">
                    <h1>Don't Hesitate to Contact Us, <br>
                      Say Hello....</h1>
                    <form class="contact_form">
                      <div fxLayout="row" fxLayoutGap="20px" fxLayout.xs="column" fxLayoutAlign="start center" fxLayout.sm="column">
                        <div fxFlex="">
                          <mat-form-field appearance="outline" class="form_field" style="width: 100%;">
                            <input matInput placeholder="First Name" type="text">
                          </mat-form-field>
                        </div>
                        <div fxFlex="">
                          <mat-form-field appearance="outline" class="form_field" style="width: 100%;">
                            <input matInput placeholder="Email Here" type="text">
                          </mat-form-field>
                        </div>
                      </div>
                      <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="start center" fxLayout.xs="column" fxLayout.sm="column">
                        <div fxFlex="">
                          <mat-form-field appearance="outline" class="form_field" style="width: 100%;">
                            <input matInput placeholder="Phone No" type="text">
                          </mat-form-field>
                        </div>
                        <div fxFlex="">
                          <mat-form-field appearance="outline" class="form_field" style="width: 100%;">
                            <input matInput placeholder="Subject" type="text">
                          </mat-form-field>
                        </div>
                      </div>
                      <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="start center" fxLayout.xs="column" fxLayout.sm="column">
                        <div fxFlex="">
                          <mat-form-field appearance="outline" class="form_field" style="width: 100%;">
                            <textarea matInput placeholder="Message Us" type="text"></textarea>
                          </mat-form-field>
                        </div>
                      </div>
                    </form>
                    <button class="contact_btn" mat-button>Send Message ></button>
                  </div>
                </div>
              </mat-card-content>
            </mat-card>
          </div>
        </div>
      </div>

    </div>


    <!--  Footer section-->
    <div class="section_wrapper">
      <div class="footer_section">
        <div class="section_content">
          <div class="footer_content" fxLayout="row" fxLayout.xs="column" fxLayoutGap="20px" fxLayoutAlign="start start"
               fxLayout.sm="column">
            <div fxFlex="">
              <div class="first_section">
                <h3>
                  Newsletter
                </h3>
                <div class="bold_divider"></div>
                <p>Lorem Ipsum Lorem Ipsum Lorem Lorem Ipsum</p>
                <p>Lorem Ipsum Lorem Ipsum Lorem Lorem Ipsum</p>
                <p>Lorem Ipsum Lorem Ipsum Lorem Lorem Ipsum</p>
                <p>Lorem Ipsum Lorem Ipsum Lorem Lorem Ipsum</p>
                <form>
                  <mat-form-field appearance="outline" class="form_field" style="width: 80%;">
                    <input matInput placeholder="Email Address" type="text">
                    <mat-icon matSuffix>send</mat-icon>
                  </mat-form-field>
                </form>
              </div>
            </div>
            <div fxFlex="">
              <div class="quick_links">
                <h3>Quick Links</h3>
                <div class="bold_divider"></div>
                <div fxLayout="row" fxLayoutAlign="start start"
                     fxLayout.xs="column">
                  <div fxFlex="35">
                    <ul>
                      <li>About Us</li>
                      <li>Services</li>
                      <li>APIs</li>
                      <li>Pricing</li>
                      <li>Contact US</li>
                    </ul>
                  </div>
                  <div fxFlex="">
                    <ul>
                      <li>FAQ's</li>
                      <li>Help & Support</li>
                      <li>Reviews</li>
                      <li>Terms & Conditions</li>
                      <li>Privacy Policy</li>
                    </ul>
                  </div>
                </div>

              </div>

            </div>
            <div fxFlex="">
              <div class="blog_footer_section">
                <h3>Blog</h3>
                <div class="bold_divider"></div>

                <div class="blog_imgs">
                  <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="10px" fxLayout.xs="column">
                    <div fxFlex="20">
                      <img mat-card-image src="../../assets/images/img1.jpg"
                           alt="Photo of a Shiba Inu">
                    </div>
                    <div fxFlex="20">
                      <img mat-card-image src="../../assets/images/img2.jpg"
                           alt="Photo of a Shiba Inu">
                    </div>
                    <div fxFlex="20">
                      <img mat-card-image src="../../assets/images/img3.jpg"
                           alt="Photo of a Shiba Inu">
                    </div>
                  </div>
                  <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="10px" fxLayout.xs="column">
                    <div fxFlex="20">
                      <img mat-card-image src="../../assets/images/img4.jpg"
                           alt="Photo of a Shiba Inu">
                    </div>
                    <div fxFlex="20">
                      <img mat-card-image src="../../assets/images/img5.jpg"
                           alt="Photo of a Shiba Inu">
                    </div>
                    <div fxFlex="20">
                      <img mat-card-image src="../../assets/images/img6.jpg"
                           alt="Photo of a Shiba Inu">
                    </div>
                  </div>
                  <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="10px" fxLayout.xs="column">
                    <div fxFlex="20">
                      <img mat-card-image src="../../assets/images/img6.jpg"
                           alt="Photo of a Shiba Inu">
                    </div>
                    <div fxFlex="20">
                      <img mat-card-image src="../../assets/images/img5.jpg"
                           alt="Photo of a Shiba Inu">
                    </div>
                    <div fxFlex="20">
                      <img mat-card-image src="../../assets/images/img4.jpg"
                           alt="Photo of a Shiba Inu">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
        <hr>
        <div class="all_rights">
          <div class="section_content">
            <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="start center" fxLayout.sm="column">
              <div fxFlex="">
                <div class="copy_rights">
                  <p>Copyright 2019 quexl. All Rights Reserved</p>
                </div>
              </div>
              <div fxFlex="">
                <div>
                  <p>Developed by Peter Munyua.</p>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>
