$cadetblue: #0f898c;
$redish: #f05a28;
$whiteColor: #ffffff;
$borderColor: darkslategrey;
$chartreuse: #52a300;
$purple: #5d0078;
$bold_border: #62d7a1;

mat-sidenav-container, mat-sidenav-content, mat-sidenav {
  height: 100%;
}

mat-sidenav {
  width: 250px;
}

.toolbar {
  background-color: $cadetblue;
  //height: 150px;
  display: table;
  width: 100%;
}

.navbar {
  display: table-cell;
  vertical-align: middle;
  //background-color: #fff;
}

.upper_nav {
  height: 45px;

  h2 {
    color: $whiteColor;
    margin: 30px 0 0 80px;
  }
  h3 {
    float: right;
    margin-right: 11%;
    margin-top: 30px;
    color: $whiteColor;
  }
}
.nav_logo {
  width: 100px;
  height: 100px;
  margin-left: 32%;
}
.lower_nav {
  clip-path: polygon(21% 5%, 100% 5%, 100% 100%, 0 100%, 0 28%, 19% 28%);
  background-color: $whiteColor;
  color: black;
  height: 100px;
}

.start_working_btn {
  margin: 0;
  border-radius: 20px;
  width: 200px;
  background-color: $cadetblue;
  color: $whiteColor;
  font-size: 24px;
}

.nav_item {
  margin-top: 8px;
}

a {
  text-decoration: none;
  color: black;
}

a:hover, a:active {
  color: $cadetblue;
}

.navigation-items {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

mat-toolbar {
  border-radius: 3px;
}

@media(max-width: 959px) {
  mat-toolbar {
    border-radius: 0px;
  }
}
